global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'gitlab-exporter'
    static_configs:
      - targets: ['gitlab-exporter:9200']
    scrape_interval: 10s  

